	body {
		background-image: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		background-size: cover;
		background-repeat: no-repeat;
		overflow:hidden;
	}
	div.zeus{
		position: absolute;
		right: 0%;
	}
	div.hera{
		position: absolute;
		left: 0%;
	}
	img.zeus{
		height: 700px;
	}
	img.hera{
		height: 700px;
	}
	div.textbox{
		margin: 0;
		position: absolute;
		top: 90%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
		border-style: solid;
		border-color: brown;
		background-color: brown;
	}
	div.gameText{
		margin: 0;
		position: absolute;
		top: 45%;
		left: 50.5%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align: center;
		overflow:auto;
		height: 600px;
		width:700px;
		bottom: 0;
		font-size: 19px;
		overflow-x: hidden;
	}
	tr.userCommands{
		color: white;

	}
	tr.attackCommands{
		color: Crimson;

	}
	tr.castCommands{
		color: purple;

	}
	table.center{
	  	table-layout:fixed;
	  	width:690px;
		text-align:center;
		word-break: break-word; 
	}
	
	div.map{
	
		top: 2%;
		right: 16%;
		position: absolute;
		font-size: 20px;
		line-height: 12px;	
	}
	
	.circle {
      	color: blue;
    }
	
	.closedSquare {
      	visibility: hidden;
    }
    
    div.statBar{
    	height:600px;
    	width:50px;
    	position: absolute;
    	left:24%;
    	top:3.5%;
    }
    img.statSymbol{
    	height:20px;
    	width:20px;
    }
    img.Vroom{
      transform: rotate(325deg);
    }
    img.Vroom1{
      transform: rotate(160deg);
    }
    img.Vroom2{
    }
    div.animation1 {
  		width: 100px;
  		height: 100px;
  		position: absolute;
  		animation-name: animation1;
  		animation-duration: 10s;
  		left:100%;
  		top:100%;
	}
	@keyframes animation1 {
  		0%   {left:100%;; top:100%;}
  		50%  {left:79%; top:79%;}
  		100% {left:100%; top:100%;}
	}
    div.animation2{
  		width: 100px;
  		height: 100px;
  		position: absolute;
  		animation-name: animation2;
  		animation-duration: 8s;
  		left:-50%;
  		top:-50%;
	}
	@keyframes animation2 {
  		0%   {left:-25%;; top:-60%;}
  		50%  {left: -20%; top: -20%;}
  		100% {left:-25%; top:-60%;}
	}
    div.animation3{
  		width: 100px;
  		height: 100px;
  		position: absolute;
  		animation-name: animation3;
  		animation-duration: 8s;
  		left:100%;
  		top:100%;
       	transform: scaleX(-1);
	}
	@keyframes animation3 {
  		0%   {left:150%;; top:40%;}
  		100% {left:-50%; top:40%;}
	}
	div.animation4{
  		position: absolute;
  		animation-name: animation4;
  		animation-duration: 15s;
  		left:0%;
  		top:100%;
	}
	@keyframes animation4 {
  		50% {left: 10%; top:50%;}
  		100%{left:0%; top:100%;}
	}
	div.animation5{
  		position: absolute;
  		animation-name: animation5;
  		animation-duration: 15s;
  		left:0%;
  		top:100%;
	}
	@keyframes animation5 {
  		50% {left: 10%; top:50%;}
  		100%{left:0%; top:100%;}
	}