<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>MinotaursLabyrinthServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.Minotaurs_Labyrinth.servlet.MinotaursLabyrinthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CombatServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.Minotaurs_Labyrinth.servlet.CombatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DialogueServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.Minotaurs_Labyrinth.servlet.DialogueServlet</servlet-class>
  </servlet>




  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>MinotaursLabyrinthServlet</servlet-name>
    <url-pattern>/minotaursLabyrinth</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CombatServlet</servlet-name>
    <url-pattern>/combat</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>DialogueServlet</servlet-name>
    <url-pattern>/dialogue</url-pattern>
  </servlet-mapping>
</web-app>
